/* .centered {
  position: absolute; or absolute
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
} */

@font-face {
  font-family: "MyWebFont";
  /* src: url('webfont.eot'); IE9 Compat Modes */
  /* src: url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
  src: url("assets/DSEG7-Classic/DSEG7Classic-BoldItalic.woff") format("woff"), /* Modern Browsers */
       url("assets/DSEG7-Classic/DSEG7Classic-BoldItalic.woff2") format("woff2"),
       url("assets/DSEG7-Classic/DSEG7Classic-BoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  /* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
}

#back {
  height: 100vh; 
}

#input_code {
  background-color: white;
}

#timer {
  font-size: 1000%;
  font-weight: bold;
  font-family: "MyWebFont";
  /* font-family: "Segment7Standard"; */
  color: red;
  background-color: black;
  /* text-justify: center;
  position: relative; or absolute
  left: 50%;
  transform: translate(-50%, 0); */
}

#win_div {
  font-size: 500%;
  color: white;
}

html,
body {
  overflow-x: hidden; /* Hide scrollbar */
  /* background: black; */
}

#back {
  /* The image used */
  /* background-image: url("assets/bigboom.jpg"); */

  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#boom_img {
  width: 30%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#input_code_field {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* body {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
} */
